.layout{
  a{
    color: white;
  }
}
.header{
    background: white!important;
    .header-left{
        float: left;
        .logo-image{
            margin: 15px;
            float: left;
            width: 36px;
            height: 36px;
        }
        .logo{
            color: #333;
            float: left;
        }
    }
    
    .header-right{
        float: right;
        .username{
            margin-right: 20px;
            
        }
    }
}