.course{
  &-header{
    background-color: #fff;
    margin-bottom: 30px;
    height: 250px;
    img{
      float: left;
      width: 100%;
    }
  }
  &-text{
    float: left;
    margin-top: 20px;
    width: calc(~"100% - 300px");
  }
  &-content{
    background-color: #fff;
    padding: 30px;
    margin: 20px 0;
    img{
      width: 100%;
    }
    button{
      position: absolute;
      background-color: #FFA51C;
      border: 1px solid #FFA51C;
      color: #fff;
      width: 300px;
      height: 50px;
      text-align: center;
      border-radius: 25px;
      margin-top: -100px;
      left: calc(~"50%");
      margin-left: -150px;
    }
    button:hover{
      color: #fff;
      background-color: rgb(236, 152, 25);
      border: 1px solid rgb(236, 152, 25);
    }
    button:focus{
      color: #fff;
      background-color: rgb(236, 152, 25);
      border: 1px solid rgb(236, 152, 25);
    }
  }
} 