.register{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/login.png');
    &-wraper{
        width: 500px;
        height: 540px;
       
    }
  }
  .register-form {
    width: 375px;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 40px;
    border: 1px solid #ccc;
    .login{
      text-align: center;
    }
    input{
      height: 35px;
    }
    button{
      height: 35px;
      background-color: #FFA51C;
      border: 1px solid #FFA51C;
      border-radius: 18px;
    }
    button:hover{
      background-color: rgb(236, 152, 25);
      border: 1px solid rgb(236, 152, 25);
    }
    button:focus{
      background-color: rgb(236, 152, 25);
      border: 1px solid rgb(236, 152, 25);
    }
    a:hover{
        text-decoration: underline;
    }
  }
  .register-text{
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 30px 0 40px;
    color: #FFA51C;
  }
  .register-form-forgot {
    float: right;
  }
  .register-form-button {
    width: 100%;
  }