.list{
  
  &-classify {
    margin: 10px 0;
    width: 100%;
    height: 340px;
    h4{
      height: 40px;
    }
  }
  &-image{
    float: left;
    width: 200px;
    height: 290px;
    img{
      background: #ccc;
      width: 100%;
      height: 100%;
    }
  }
  .banner{
    .banner-img{
      width: 1200px!important;
    } 
  }
  &-courses{
    float: left;
    margin-left: 50px;
    height: 290px;
    width: calc(~"100% - 250px");
    .ant-card{
      height: 135px;
      width: 300px;
      .ant-card-cover{
        height: 100px;
        overflow: hidden;
      }
      .ant-card-body{
        height: 35px;
        padding: 0;
        padding-top: 5px;
        text-align: center;
        margin: 0;
      }
    }
  }
} 