.test{
  background: #fff;
  margin: 20px 0;
  padding: 20px 30px;
}
.submit{
  width: 100%;
  text-align: center;
  button{
    background-color: #FFA51C;
    border: 1px solid #FFA51C;
    color: #fff;
    text-align: center;
    border-radius: 25px;
  }
  button:hover{
    color: #fff;
    background-color: rgb(236, 152, 25);
    border: 1px solid rgb(236, 152, 25);
  }
  button:focus{
    color: #fff;
    background-color: rgb(236, 152, 25);
    border: 1px solid rgb(236, 152, 25);
  }
}
.return {
  widows: 100%;
  text-align: right;
  margin: 20px 0;
}